/* ================================
   Blog Section Grid Layout
================================ */
@media (min-width: 960px) {
  .blogItems {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}

@media (max-width: 959px) and (min-width: 768px) {
  .blogItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .blogItems {
    display: grid;
    grid-template-columns: 1fr;
  }
}