/* ================================
   Contact Section
================================ */
.contact-container {
  margin: 3rem 0;
  text-align: center;
}

.contact-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.contact-info {
  margin: 2rem 0;
}

.contact-icon {
  display: flex;
  gap: 32px;
  justify-content: center;
  border-radius: 20px;
  padding: 8px;
  background-color: var(--card-background);
}

.contact-icon img {
  width: 22px;
  height: 22px;
  color: var(--color-gold);
  filter: drop-shadow(0 0 6px var(--color-gold-shadow));
}

.contact-sns-area {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}