/* ================================
   Tailwind CSS
================================ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================================
   Global Reset
================================ */
/* 魔法の62.5％(16px = 1.6rem) */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

html,
body {
  min-width: 368px;
  min-height: 480px;
}