/* ================================
   CSS Variables
================================ */
:root {
  /* Theme Colors */
  --background: #ffffff;
  --foreground: #171717;
  --headerBackground: rgba(2 6 23 / 0.8);
  --headerBorder: rgba(31 41 55);
  
  /* Component Colors */
  --color-gold: #f5d76e;
  --color-gold-shadow: rgba(245, 215, 110, 0.35);
  --card-background: #0f172a;
  
  /* SVG Icons */
  --svg-icon-border: transparent;
}