/* ------------------------------
   footer.tsx
------------------------------ */
.footer-wrapper {
  position: absolute;
  min-height: 1vh;
  bottom: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  text-align: center;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-inner {
  display: flex;
  justify-content: center;
  padding: 4px 4vw;
}

.footer-copy {
  font-size: clamp(12px, 2vw, 14px);
  line-height: 24px;
  opacity: 0.8;
}

.footer-nav {
  display: none;
}

small {
  font-size: 24px;
  line-height: 32px;
}

.footer-nav a {
  font-size: 14px;
  color: #aaa;
  text-decoration: none;
  transition: opacity 0.2s ease, color 0.2s ease;
}

.footer-nav a:hover {
  color: white;
  opacity: 1;
}
